{% extends "index.html" %}

{% block title%}{{ book.title }}{% endblock %}

{% block body %}
<div class="col-md-8 justify-content-center">
  <div class="container content-section">
    <div class="media align-items-center">
      <img src="{{ img }}" width="150">
      <div class="media-body review-body">
        <h2 class="border-bottom mb-4 account-heading">{{ book.title }} by: {{ book.author }}</h2>
        <p class="text-secondary">{{ book.overall_rating }} Out Of 10 Stars</p>
        <p class="text-secondary">{{ book.count_ratings }} Book Review's</p>
        {% if reviewed %}
          <a href="{{ url_for('review', id=book.id) }}" class="btn btn-outline-info">Edit Review</a>
        {% else %}
          <a class="btn btn-outline-info" href="{{ url_for('review', id=book.id) }}">Leave Review</a>
        {% endif %}
      </div>
    </div>
  </div>
{% for review in reviews.items %}
  <article class="media content-section">
    <img src="/static/profile_pics/{{ review.users.image_file }}" class="rounded-circle article-img" width="80">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{ url_for('users', id=review.user_id) }}">Review by: {{ review.username }}</a>
        {% if current_user.id == review.user_id %}
          <a class="btn btn-outline-info" href="{{ url_for('review', id=review.book_id) }}">Edit</a>
        {% endif %}
      </div>
      <h3><a class="article-title">{{ review.rating }} Out Of 10 Stars</a></h3>
      <p class="article-content">
        {{ review.review }}
      </p>
    </div>
  </article>
{% endfor %}
{% for page_num in reviews.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
    {% if reviews.page == page_num %}
      <a class="btn btn-info mb-4" href="{{ url_for('book', id=book.id, page=page_num) }}">{{ page_num }}</a>
    {% else %}
      <a class="btn btn-outline-info mb-4" href="{{ url_for('book', id=book.id, page=page_num) }}">{{ page_num }}</a>
    {% endif %}
  {% else %}
    ...
  {% endif %}
{% endfor %}
</div>
{% endblock %}
