{% extends "index.html" %}

{% block body %}
  <div class="container content-section">
    <div class="media align-items-center">
      <img src="{{ img }}" class="round-circle account-img" width="80">
      <div class="media-body">
        <h2 class="border-bottom mb-4 account-heading">{{ book.title }} by: {{ book.author }}</h2>
        <p class="text-secondary">{{ book.overall_rating }} Out Of 10 Stars</p>
        <p class="text-secondary">{{ book.count_ratings }} Book Review's</p>
        {% if reviewed %}
          <a href="{{ url_for('review', id=book.id) }}" class="btn btn-outline-info">Edit Review</a>
        {% else %}
          <a class="btn btn-outline-info" href="{{ url_for('review', id=book.id) }}">Leave Review</a>
        {% endif %}
      </div>
    </div>
  </div>
{% for review in book.reviews %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <h5 class="mr-2">
          <a href="{{ url_for('users', id=review.user_id) }}">Review by: {{ review.username }}</a>
        </h5>
      </div>
      <h4 class="article-title">{{ review.rating }} Out Of 10 Stars</h4>
      <p class="article-content">
        {{ review.review }}
      </p>
    </div>
  </article>
{% endfor %}
{% endblock %}
