{% extends "index.html" %}

{% block title %}Home{% endblock %}

{% block body %}
  {% for book in books %}
  <div class="col-sm-12 col-md-6 col-lg-4">

    <div class="card border-primary mb-3">
      <div class="card-header">isbn : {{ book.isbn }}</div>
      <img class="card-img-top" src="static/book_pics/{{ book.image_file }}">
      <div class="card-body text-dark">
        <h4 class="card-title"><a href="{{ url_for('book', id=book.id) }}">{{ book.title }}</a></h4>
        <h6 class="card-subtitle mb-2 text-muted">{{ book.author }}</h6>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ book.overall_rating }} Out Of 10 Stars</li>
          <li class="list-group-item">{{ book.count_ratings }} Rating's</li>
        </ul>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}
