{% extends "index.html" %}

{% block title %}{{ user.name }}{% endblock %}

{% block body %}
<div class="col-md-8">
  <div class="container content-section">
    <div class="media align-items-center">
      <img src="{{ img }}" class="rounded-circle account-img" width="80">
      <div class="media-body">
        <h2 class="account-heading">{{ user.name }}</h2>
        <p class="text-secondary">{{ count }} Book Review's</p>
      </div>
    </div>
  </div>
  {% for r in reviews %}
    <article class="media content-section">
      <img src="/static/book_pics/{{ r.books.image_file }}" width="100">
      <div class="media-body review-body">
        <div class="article-metadata">
          <h6 class="mr-2">
            <a href="{{ url_for('book', id=r.book_id) }}">Review for: {{ r.bookname }}</a>
            {% if user_prof %}
              <a class="btn btn-outline-info" href="{{ url_for('review', id=r.book_id) }}">Edit</a>
            {% endif %}
          </h6>
        </div>
        <h3 class="article-title">{{ r.rating }} Out Of 10 Stars</h3>
        <p class="article-content">{{ r.review }}</p>
      </div>
    </article>
  {% endfor %}
</div>
<div class="col-md-4">
  <div class="card">
    <div class="card-header">
      <h5>Recent Activity</h5>
    </div>
    <ul class="list-group list-group-flush">
      {% for activity in activity_list %}
        <li class="list-group-item">
          <p>Left a {{ activity.rating }} Star rating for {{ activity.books.title }}</p>
          <p class="mb-2 text-muted">Reviewed on : {{ activity.timestamp }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
