{% extends "index.html" %}

{% block title}{{ user.name }}{% endblock %}

{% block body %}
<div class="col-md-8">
  <div class="container content-section">
    <div class="media align-items-center">
      <img src="{{ img }}" class="rounded-circle account-img" width="80">
      <div class="media-body">
        <h2 class="account-heading">{{ user.name }}</h2>
        <p class="text-secondary">{{ count }} Book Review's</p>
      </div>
    </div>
  </div>
  {% for review in user.reviews %}
    <article class="media content-section">
      <img src="/static/book_pics/{{ review.books.image_file }}" width="100">
      <div class="media-body review-body">
        <div class="article-metadata">
          <h5 class="mr-2">
            <a href="{{ url_for('book', id=review.book_id) }}">Review for: {{ review.bookname }}</a>
            {% if user_prof %}
              <a class="btn btn-outline-info" href="{{ url_for('review', id=review.book_id) }}">Edit</a>
            {% endif %}
          </h5>
        </div>
        <h4 class="article-title">{{ review.rating }} Out Of 10 Stars</h4>
        <p class="article-content">{{ review.books.image_file }}</p>
      </div>
    </article>
  {% endfor %}
</div>
<div class="col-md-4">
  <div class="card">
    <div class="card-header">
      <h5>Recent Activity</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <p>Left a 5 Star review for blah blah blah</p>
        <p class="mb-2 text-muted">DateTime</p>
      </li>
      <li class="list-group-item">
        <p>Left a 5 Star review for blah blah blah</p>
        <p class="mb-2 text-muted">DateTime</p>
      </li>
      <li class="list-group-item">
        <p>Left a 5 Star review for blah blah blah</p>
        <p class="mb-2 text-muted">DateTime</p>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
